#!/bin/zsh

{{ template "setup_homebrew" . }}

# Install all the brews and casks defined in .chezmoidata.
brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
