#!/bin/zsh

{{ template "setup_homebrew" . }}

# Attempt to sign into the 1Password CLI and rely on the user to get it
# working.
while ! op signin 2>/dev/null; do
    echo "Setup 1Password and enable CLI integration, then press any key."
    /Applications/1Password.app/Contents/MacOS/1Password 2>/dev/null
    read -s -k 1
done
