#!{{ .fish.binary }} -N

# Due to the Fzf plugin not being installed yet fish will throw (ignorable)
# errors when loading configuration files. So this script is run without
# configuration but we still need to source fisher_path before invoking fisher.
# Additionally fisher itself will call fish so we redirect stderr to make it
# cleaner.
source ~/.config/fish/conf.d/fisher.fish

# Install fisher and any plugins. Store a hash of the fish_plugins file so that
# this script will run on any changes.
{{ $fish_plugins := joinPath .chezmoi.homeDir ".config/fish/fish_plugins" -}}
# Hash: {{include $fish_plugins | sha256sum }}
curl -sL """https://raw.githubusercontent.com/jorgebucaran/fisher/main\
/functions/fisher.fish" | source && fisher update 2>/dev/null
