[data.homebrew]
# Since Homebrew requires a different install location on Apple Silicon and
# Intel we need to specify the location per machine.
{{- if eq .chezmoi.arch "arm64" }}
binary = "/opt/homebrew/bin/brew"
{{ else if eq .chezmoi.arch "x86_64" }}
binary = "/usr/local/bin/brew"
{{ else }}
{{ writeToStdout "Unknown architecture, can't determine Homebrew location." }}
{{ exit 1 }}
{{ end -}}
